/*--------------------------------------------------------------------------- 
		Header
-----------------------------------------------------------------------------*/
.logo{ margin:0px; float:left; }
/*h1.logo a{ width:167px; height:84px; display:block; background:url(../images/logo.png) no-repeat; text-indent:-99999px;}*/

span.ads{ float:right; margin:0; }
span.ads a img{ margin:35px 0 40px 0; float:left; border:1px solid #f0f0f0; padding:2px;}
span.ads img{ margin-bottom:0; float:left;}

/*menu*/
.main-menu{background:url(../images/box-bg.png) repeat; border-top:1px solid #007dbd; border-bottom:1px solid #007dbd; width:100%; float:left;}
nav select { display: none; }

nav h3{color:#fff; font-size:30px; line-height:61px; font-weight:normal; margin:0px; padding:0px;}
nav.ddsmoothmenu ul { list-style-type: none; margin: 0 0 0 0; padding: 0; z-index:100; float:left;}
.ddsmoothmenu ul li.big { color:#007DBD; font-size:30px; line-height:61px; font-weight:normal; margin:0px; padding:0px; }
.ddsmoothmenu ul li.iphone{display:none}
.ddsmoothmenu ul li a { color: #fff; display: block; padding:15px 24px;}

.ddsmoothmenu ul li a.current { color:#fff; border-top:1px solid #54be14; background:#54be14; margin-bottom:-2px;}
.ddsmoothmenu ul li a.current:hover{ color:#fff !important;}
* html .ddsmoothmenu ul li a { display: inline-block; }
.ddsmoothmenu ul li ul { display: none; float:left; left: 0; position: absolute; visibility: hidden; padding:0; background: #000; background:rgba(0,0,0, .7); z-index:500; margin-top:2px; border-top:0; }
	
.ddsmoothmenu ul li ul li { text-transform:none; display: list-item; float: none; margin-left:0px; padding:0px 0px; font-weight:600; }
.ddsmoothmenu ul li ul li.no-border{ border-top:0}
.ddsmoothmenu ul li ul li a { color:#eee; font-size:12px; margin: 0 0 0 0; padding:12px 15px; width: 175px; background:0; border-left:0;  border-top-width: 0 }
.ddsmoothmenu ul li ul li a:hover { background:#54be14; width: 163px; border-left: 2px solid #fff; color: #eee !important; font-weight:600; padding-left: 25px;}
* html .ddsmoothmenu { height: 1%;}

.downarrowclass {  position: absolute; right: 7px; top: 14px; display:none;  }
.rightarrowclass { position: absolute; right: 5px; top: 13px; display:none; }

.ddshadow { height: 0; margin-top: 100px; position: absolute; top: 0; width: 0; }
.toplevelshadow { opacity: 0.8; }

.main-menu2{ position: absolute; bottom: -55px; z-index: 99;}

.social-popbox{ float:right; margin-top: 7px;}
/*--------------------------------------------------------------------------
		Layout
-----------------------------------------------------------------------------*/
#page_wrap, .header_wrap, .wrapp{ margin: 0 auto;  max-width: 68.75em; padding:0;  /* 988px / 16px = 61.75em */}
.container_wrap{ padding:0; float:left; width:100%; background: rgba(255, 255, 255, 1); } 




/*---------------------------------------------------------------------------
		Portfolio
-----------------------------------------------------------------------------*/
#works-container{ width:100%; float:left; margin-bottom:0px;}
#filters{ padding:0; margin:0 0 0 10px; /*width:100%;*/ float:left; text-align:center;}
.filter-option{ margin:0px 0 40px -10px !important; width:100%; float:left;}
#filters li{list-style:none; display:inline-block; color:#313131; font-size: 14px; font-weight: 600; margin-right:20px;}
#filters li a{text-decoration: none;
    color: #272a2d;
    background: #e2e2e2;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 30px;}
#filters li a:hover{ color:#00254e; -webkit-transition: all 0.9s ease; -moz-transition: all 0.9s ease-in-out; -o-transition: all 0.9s ease-in-out; -ms-transition: all 0.9s ease-in-out; transition: all 0.9s ease-in-out;}
#filters li a:active{outline:none}
#filters li a.selected{color:#fff; background:#21201e}
#works-container .element { margin:0px 15px 15px 0px; overflow: hidden; position: relative; width:calc(33% - 15px); height:300px;  /*width:159px !important; height:195px !important;*/ background:#fff;   }

/*#filters li:after { content:"/" ; color:#ecb200}*/
#filters li:last-child:after { content:" " }
/*#works-container .element .post{height:195px !important;} */

#works-container .element:hover h3.entry-title{ display: none;}
#works-container .element h3.entry-title{ font-size: 14px; background: #f5f5f5; position: absolute; bottom: 0px; display: block; text-align: center; margin-bottom: 0; padding:0; border-bottom: 0; width: 100%; color: #00254e;  padding: 5px 0;}
.post a div h2{ color: #00254e; border-bottom: 0; margin-top: 15px; font-size: 14px;}
.post a div small, .post a div strong{display: block; font-size:12px; color:#686868;  font-size: 12px;
    font-weight: normal;
    margin: 10px 0; }
.post a div small{margin-top:10px; }

.post a div .btn-link{background:#00254e !important; font-size:12px; color:#fff; width:100%; margin-top:15px;}

/*work with text*/
.work-with-text .element{ margin:0 38px 38px 0; padding-bottom: 170px; overflow: hidden; position: relative; width:245px !important; height:235px !important; background:#fff;}
.work-with-text .element:hover h3.entry-title{ display: block !important;}
.work-with-text .element h3.entry-title{ font-size: 18px !important; background: none !important; position: inherit !important; bottom: 0px; display: block; text-align: center; margin-bottom: 15px !important; padding:0; border-bottom: 0; width: 100%; color: #181818 !important; border-top:0; border-bottom:0; padding: 0;}
.work-with-text .element .details{ width: 100%; display: block; text-align: center;}

/*for sidebar only*/
.work-sidebar{ padding:0; margin:0 0 60px -10px!important; width:106% !important;}
.work-sidebar .element{ margin:7px 7px 20px 7px !important; float: left; overflow: hidden; position: relative; width:245px; height:235px; padding:0;}
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item { z-index: 2; }
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item { -webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; -o-transition-duration: 0.8s; transition-duration: 0.8s; }
.isotope { -webkit-transition-property: height, width; -moz-transition-property: height, width; -o-transition-property: height, width;
transition-property: height, width; }
.isotope .isotope-item { -webkit-transition-property: -webkit-transform, opacity; -moz-transition-property:    -moz-transform, opacity;
-o-transition-property: top, left, opacity; transition-property:         transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition { -webkit-transition-duration: 0s; -moz-transition-duration: 0s; -o-transition-duration: 0s;transition-duration: 0s; }
.isotope.infinite-scrolling { -webkit-transition: none; -moz-transition: none; -o-transition: none; transition: none; }
#container #works-container .element{ width:180px; height:137px;}
#filterable{width:100%; float:left; margin-bottom:20px; margin-left:10px; }
#filterable ul li{ float:left; margin-bottom:5px;}
#filterable ul li a{ font-size:12px; padding:7px 10px; float:left; color:#fff; border:1px solid #149dd1; background:#20ace2; text-shadow:0 1px 1px #149dd1;  -webkit-border-radius: 4px; -moz-border-radius: 47px; -o-border-radius: 4px; border-radius: 4px;}

/*#works-container .element .post a div{ position: absolute; background:#f5f5f5; width: 100%; height: 100%; text-align: center; padding:0px}*/
#works-container .element .post a div span.image-hover-icon{ background:url(../images/image-icon.png) no-repeat center #007DBD; width:45px; height:45px; margin:0 auto; display:block; -webkit-border-radius: 2px; -moz-border-radius: 2px;-o-border-radius: 2px; border-radius: 2px;}
#works-container .element .post a div span.image-link-icon{ background:url(../images/link-icon.png) no-repeat center #007DBD; width:45px; height:45px; margin:0 auto;  display:block; -webkit-border-radius: 2px; -moz-border-radius: 2px;-o-border-radius: 2px; border-radius: 2px;}
#works-container .element .post a div span.image-video-icon{ background:url(../images/video-icon.png) no-repeat center #007DBD; width:45px; height:45px; margin:0 auto; display:block; -webkit-border-radius: 2px; -moz-border-radius: 2px;-o-border-radius: 2px; border-radius: 2px;}


.hover-bg {
  position: absolute;
  background-color: rgba(33, 32, 30, 0.7);
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -o-transition: all 0.5s;
  transition: all 0.5s;
  padding:20px;
}

.hover-txt {
  padding: 30px 30px 40px 30px;
  position: absolute;
  bottom: 0;
  height:40%;
  top:0px;
  left:0px;
  right:0px;
  margin:auto;
  text-align:center;
  color: #ffffff;
  -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(-100px);
      -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
          -o-transform: translateY(-100px);
            transform: translateY(-100px);
}

#works-container .element:hover .hover-bg{
  opacity: 1;
}
#works-container .element:hover .hover-bg .hover-txt{
  -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
        -ms-transform: translateY(0);
          -o-transform: translateY(0);
            transform: translateY(0);
}

.border {
    border: 4px solid #F0EBEB;
    display: block;
    height: 100%;
    width: 100%;
	background-color: rgba(5, 97, 162, 0.7);
}






.work{ float:left; width:46.4%; margin:0 40px 40px 0; text-align:center; }
.work .post a div span.image-link-icon{background:url(../images/link-icon.png) no-repeat center rgba(84,190,20, 1); width:45px; height:45px; margin:0 0 0 auto; margin-top:0; display:block; bottom:0; right:0; position:absolute;}
.work h3{ font-weight:700; font-size:16px;}
.work h3 a{ color:#141414;}
.work .post a div h3{padding:20px 20px 0 20px; color:#999; font-weight:700; font-size:18px; color:#f0f0f0;}
.work .post a div p{ padding:0 20px; color:#999; font-size:13px; line-height:24px;}

.work-col3{ width:30.3%; margin:0 30px 30px 0;}

@media (max-width: 767px) {
		#works-container .element{width:100%;  height:100%}
		#works-container .element img{width:100%}
}


